/*Generic CSS*/


:root{
  --first-color: #7652da;
  --second-color: #ffd67f;
  --third-color: #fa5d5e;
  --black-color: #343434;
  --grey-color: #d2cddd;
}

/*Generic CSS End*/

/*text-related*/

*{
  font-family: 'Montserrat Alternates', sans-serif;
  color: var(--black-color);
  font-weight: 800;
}

a{
  text-decoration: none;
  color: inherit;
}

h1{
  font-size: 3.4em;
}

h2{
  font-size: 3em;
  margin-top: 0;
}

h3{
  font-size: 1.2em;
  text-transform: uppercase;
  color: var(--grey-color);
}

h6{
  font-size: 1em;
}

p{
  font-size: 0.9em;
  font-weight: 400;
  margin: 1.5em 0;
}

li{
  font-size: 0.9em;
  font-weight: 400;
  margin: 1.3em;
}

.purple-text{
  color: var(--first-color);
}

.yellow-text{
  color: var(--second-color);
}

.font-400{
  font-weight: 400;
}

/*text-related END*/

/*buttons*/

.white-button{
  display: block;
  text-transform: uppercase;
  background-color: #fff;
  color: var(--first-color);
  padding: 15px 20px;
  border-radius: 5px;
  margin: 5px;
}

.purple-button{
  display: block;
  text-transform: uppercase;
  background-color: var(--first-color);
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  margin: 5px;
}

.grey-button{
  display: block;
  text-transform: uppercase;
  background-color: var(--grey-color);
  color: var(--first-color);
  padding: 15px 20px;
  border-radius: 5px;
  margin: 5px;
}

.grey-button:hover{
  background-color: #bebbc9;
}

/*buttons END*/


/*header and menu*/

header{
  display: grid;
  grid-template-columns: 2;
  background-color: var(--second-color);
  position: sticky;
  top: 0;
  padding: 1.3em;
}

.logo-img{
  height: 4em;
  grid-column: 1;
}

nav{
  grid-column: 2;
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-menu-item{
  padding: 0.5em 1.5em;
  text-transform: uppercase;
  color: var(--first-color);
  font-size: 0.9em;
}

.main-menu-item:active,
.main-menu-item:hover,
.main-menu-item:focus,
.current{
  color: #fff;
}


/*header and menu END*/

/*main page CSS*/

main{
  padding: 0;
}

.row{
  text-align: center;
  padding: 4em 1em;
}

/*hero row*/

.hero{
  text-align: center;
  display: block;
  background-color: var(--second-color);
  background-image: url(images/slider.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 40em;
}

.hero > h1{
  padding: 2% 17%;
  color: #fff;
  margin: 0;
}

/*hero row END*/


/*countdown row*/

.countdown{
  display: flex;
  justify-content: center;
}

.dhms{
  display: block;
  margin: 2em 4.5em;

}

.countdown-numbers{
  font-size: 3.7em;
  display: block;
  color: #444;
}

.buttons{
  display: flex;
  justify-content: center;
}


/*countdown row END*/

/*city map row*/
.map-row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  grid-gap: 2em;
  gap: 2em;
  padding: 2em;
}

.map-img{
  grid-column: 1;
  width: 500px;
}

.map-img-div{
  text-align: right;
}

.map-text{
  grid-column: 2;
  text-align: left;
  width: 30em;
}

.fas{
  color: var(--first-color);
}
/*city map row END*/
