body{
  margin: 0;
  padding: 0;
}

h6{
  font: 15px arial,sans-serif;
  color: rgba(0,0,0,0.6);
  margin: 0;
}

p{
  font: 13px arial,sans-serif;
  color: #333;
}

a{
  text-decoration: none;
  margin: 2px;
}

a:hover{
  text-decoration: underline;
}


/*main part*/

.google-logo{
  display: block;
  margin: 180px auto 20px auto;
}

input[type="search"]:hover{
  box-shadow: 0px 0px 8px 0px rgba(133,133,133,0.5);
}

input{
  width: 600px;
  padding: 15px 30px;
  border: 1px solid #CCCCCC;
  border-radius: 30px;
}

input:focus{
  outline: 0;
}

/*buttons */

.button-box{
  margin: 30px;
}

button[type="submit"]{
  background-color: #f2f2f2;
  box-shadow: none;
  padding: 10px 15px;
  margin: 3px;
  color: #5F6368;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
  font-size: 15px;
}

button[type="submit"]:hover,
button[type="submit"]:active
{
  border: 1px solid #d6d4d3;
  color: #333;
  box-shadow: 0px 0px 2px 0px rgba(133,133,133,0.2)
}

button[type="submit"]:focus{
  border: 1px solid #4d90fe;
  box-shadow: 0px 0px 2px 0px
}

/*footer*/

footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pre-footer,
.footer-menu-left,
.footer-menu-right{
  background-color: #f5f5f5;
  padding: 10px 30px;
  border: 1px solid #ebebeb;
}

.pre-footer{
  color: rgba(0,0,0,0.4);
}

.footer-menu-left,
.footer-menu-right{
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.footer-menu-left{
  justify-content: flex-start;
  grid-column: 1;
  grid-row: 1;
}

.footer-menu-left li{
    padding-right: 20px;
}

.footer-menu-right{
  justify-content: flex-end;
  grid-column: 2;
  grid-row: 1;
}

.footer-menu-right li{
    padding-right: 20px;
}
